<div class="back">
  <ebc-navbar>Card</ebc-navbar>
  <div class="content">
    <ebc-crumb [ebcTitle]="ebcCard?.name">
      <button mat-icon-button mat-ripple disabled>
        <mat-icon>get_app</mat-icon>
      </button>
    </ebc-crumb>
    <div class="scroll">
      <mat-card class="card">
        <div *ngIf="!ebcCard?.disable" mat-card-image [innerHTML]="ebcMedia"></div>
        <div class="disable" *ngIf="ebcCard?.disable">
          <mat-card-title>I am sorry, but this Card is currently disable. Please contact EBC Tech Support for assistance.</mat-card-title>
          <img mat-card-image src="/assets/img/ebc_disabled.png">
        </div>
        <p>{{ ebcCard?.desc }}</p>
      </mat-card>
    </div>
  </div>
</div>
