@import 'app.theme';

@mixin bottom-border {
	border-bottom-style: solid;
	border-bottom-color: map-get($mat-grey, 400);
	border-bottom-width: .1rem;
}

@mixin row-padding {
	padding: 1rem;
}

@mixin crumb {
	.crumb {
		background-color: mat-color($accent);
		color: map-get($mat-grey, 50);
		border-radius: .1rem;
		margin-bottom: 1rem;
		height: 2.5rem;
		z-index: -999;
	  @include mat-elevation(1);
	
		.trail {
			display: inline-block;
			vertical-align: middle;
		}
	}
}

@mixin img {
	display: inline-block;
	width: 100%;
	height: auto;
	vertical-align: middle;
}

@mixin main {
  max-height: 67vh;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  
  .list {
    max-height: 56vh;
    overflow: auto;
  }
}
