<mat-card class="main">
	<mat-card-title class="top" [class.select]="isChecked">
		<span *ngIf="!isChecked" class="title">{{table}}</span>
		<span *ngIf="isChecked">{{isSelected.length}} items selected</span>
		<span>
			<button *ngIf="!isChecked" mat-icon-button (click)="addItem()">
				<mat-icon>add</mat-icon>
			</button>
			<button *ngIf="isChecked" mat-icon-button (click)="delete()">
				<mat-icon>delete</mat-icon>
			</button>
		</span>
	</mat-card-title>
	<div class="list">
		<table class="data">
			<thead class="head">
				<tr>
					<th class="check">
						<mat-checkbox [checked]="allChecked" [indeterminate]="isChecked"></mat-checkbox>
					</th>
					<th>
						<mat-icon>edit</mat-icon>
					</th>
					<th>Id</th>
					<th>Name</th>
					<th>Description</th>
					<th>SVG</th>
					<th>Image</th>
					<th>Extra Data</th>
					<th>Flyer</th>
					<th>Ready</th>
					<th>Disable</th>
					<th>User</th>
					<th>Clients</th>
				</tr>
			</thead>
			<tbody class="list">
				<tr *ngFor="let item of items" class="data">
					<td class="check">
						<mat-checkbox [checked]="allChecked" (change)="selected(item?.id)"></mat-checkbox>
					</td>
					<td>
						<button mat-icon-button mat-ripple (click)="editItem(item)">
							<mat-icon>edit</mat-icon>
						</button>
					</td>
					<td>{{item?.id}}</td>
					<td>{{item?.name}}</td>
					<td>{{item?.desc}}</td>
					<td>{{item?.media}}</td>
					<td>{{item?.pic}}</td>
					<td>{{item?.data}}</td>
					<td>{{item?.flyer}}</td>
					<td>{{item?.ready}}</td>
					<td>{{item?.disable}}</td>
					<td>{{item?.user}}</td>
					<td>{{item?.clients}}</td>
				</tr>
			</tbody>
			<tfoot class="foot">
				<tr>
					<td colspan="12">&nbsp;</td>
				</tr>
			</tfoot>
		</table>
	</div>
</mat-card>