@import 'app.theme';

[color='primary'] {
	background-color: md-color($md-primary);
}

[color='accent'] {
	background-color: md-color($md-accent);
}

[color='primary'][md-button] {
	color: md-color($md-primary);
	background-color: transparentize(map-get($md-grey, 0), 1);
}