.navbar {
	color: #fff;
	width: 99.9vw;
	background-color: #00b0ff;
	transform: translate(-.5rem, -.5rem);
	box-shadow: .1rem .1rem .2rem rgba(25, 25, 25, .4); 
	.logo {
		width: auto;
		height: 100%;
	}
}