<mat-card class="main">
	<mat-card-title class="top" [class.select]="isChecked">
		<span *ngIf="!isChecked" class="title">{{table}}</span>
		<span *ngIf="isChecked">{{isSelected.length}} Users selected</span>
		<span>
			<button *ngIf="!isChecked" mat-icon-button (click)="addItem()">
				<mat-icon>add</mat-icon>
			</button>
			<button *ngIf="isChecked" mat-icon-button (click)="delete()">
				<mat-icon>delete</mat-icon>
			</button>
		</span>
	</mat-card-title>
	<div class="list">
		<table class="data">
			<thead class="head">
				<tr>
					<th class="check">
						<mat-checkbox [checked]="allChecked" [indeterminate]="isChecked"></mat-checkbox>
					</th>
					<th>
						<mat-icon>edit</mat-icon>
					</th>
					<th>Id</th>
					<th>email</th>
					<th>Frist Name</th>
					<th>Last Name</th>
					<th>Image</th>
					<th>Member Since</th>
					<th>Subcribed</th>
				</tr>
			</thead>
			<tbody class="list">
				<tr *ngFor="let user of users" class="data">
					<td class="check">
						<mat-checkbox [checked]="allChecked" (change)="selected(user?.id)"></mat-checkbox>
					</td>
					<td>
						<button mat-icon-button mat-ripple (click)="editItem(user)">
							<mat-icon>edit</mat-icon>
						</button>
					</td>
					<td>{{user?.id}}</td>
					<td>{{user?.email}}</td>
					<td>{{user?.firstName}}</td>
					<td>{{user?.lastName}}</td>
					<td>{{user?.pic}}</td>
					<td>{{user?.since | date}}</td>
					<td>{{user?.subscribed}}</td>
				</tr>
			</tbody>
			<tfoot class="foot">
				<tr>
					<td colspan="8">&nbsp;</td>
				</tr>
			</tfoot>
		</table>
	</div>
</mat-card>