@import '../../../../theme/app.mixin';

.dialog {
	min-width: 50vw;
	
	.form{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.title {
		color: mat-color($accent);
		margin-top: 0;
	}

	.toggles{
		display: flex;
		justify-content: space-around;
	}
}