@import	'../../../../theme/app.mixin';

.back {

	.content {
		padding: 1rem; 

		.login {
			
			.title {
				color: mat-color($accent)
			}

			.fields {
				display: flex;
				flex-direction: column;

				.sub-form {
					@extend .fields
				}
			}
		}
	}
}