@import	'../theme/app.mixin';

.back {

	.content {
		padding: 1rem; 

		@include crumb;

		.login {
			
			.title {
				color: md-color($accent)
			}

			.fields {
				display: flex;
				flex-direction: column;
			}
		}
	}
}