<div class="back">
  <app-navbar>Login</app-navbar>
  <div class="content">
    <div class="crumb">
      <button mat-icon-button mat-ripple (click)="toHome()">
        <mat-icon>home</mat-icon>
      </button>
      <span class="trail">| &ensp;Login</span>
    </div>
    <mat-card class="login">
      <mat-card-title class="title">Login</mat-card-title>
      <form [formGroup]="loginForm" (ngSubmit)="logIn(loginForm)">
        <mat-card-content class="fields">
          <mat-input-container [dividerColor]="email.valid ? 'primary' : 'warn'">
            <input matInput class="field" type="email" placeholder="Your UserName/Email" formControlName="username">
          </mat-input-container>
          <mat-input-container [dividerColor]="password.valid ? 'primary' : 'warn'">
            <input matInput class="field" type="password" placeholder="Your Password" formControlName="password">
          </mat-input-container>
        </mat-card-content>
        <button mat-raised-button mat-ripple color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
      </form>
    </mat-card>
  </div>
</div>
