<div class="dialog">
  <h2 class="title"><span *ngIf="edit">Update</span><span *ngIf="!edit">Add New</span> Item</h2>
  <div class="form">
    <md-input placeholder="Name" [(ngModel)]="ebcPiece.name"></md-input>
    <md-input placeholder="Description" [(ngModel)]="ebcPiece.desc"></md-input>
    <md-input placeholder="SVG" [(ngModel)]="ebcPiece.media"></md-input>
    <md-input placeholder="Image" [(ngModel)]="ebcPiece.pic"></md-input>
    <md-input placeholder="Extra Data" [(ngModel)]="ebcPiece.data"></md-input>
    <md-input placeholder="User" [(ngModel)]="ebcPiece.user"></md-input>
    <md-input placeholder="Item" [(ngModel)]="ebcPiece.item"></md-input>
  </div>
  <div class="toggles">
    <md-slide-toggle color="primary" [(ngModel)]="ebcPiece.flyer">Flyer</md-slide-toggle>
    <md-slide-toggle color="primary" [(ngModel)]="ebcPiece.ready">Ready</md-slide-toggle>
    <md-slide-toggle color="primary" [(ngModel)]="ebcPiece.disable">Disable</md-slide-toggle>
  </div>
  <div class="toggles">
    <button md-raised-button md-ripple color="warn" type="button" (click)="cancel()">Cancel</button>
    <button md-raised-button md-ripple color="primary" type="submit" (click)="ebcSub()">Submit</button>
  </div>
</div>