	@import '../../../theme/app.mixin';

	.dialog {
		
		.form{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
		}

		.title {
			color: mat-color($accent);
			margin-top: 0;
		}

		.toggles{
			display: flex;
			justify-content: space-around;
		}
	}