@import '../theme/app.mixin';
.back {
  
	@include md-fullscreen;
  
	.content {
    padding: 1rem;
		overflow: auto;
   
	  @include crumb;

		.card {
			max-height: 65vh;

			.disable {
				color: md-color($warn); 
			}
		}
  }
}
