<div class="back">
  <app-navbar>Card</app-navbar>
  <div class="content">
    <div class="crumb">
      <span class="trail text">&emsp;Card&ensp;</span>
      <span class="trail text">|&ensp;{{ ebcCard?.name }}</span>
    </div>
    <div class="scroll">
      <mat-card class="card">
        <div *ngIf="!ebcCard?.disable" mat-card-image [inlineSVG]="ebcCard?.media"></div>
        <div class="disable" *ngIf="ebcCard?.disable">
          <mat-card-title>I am sorry, but this Card is currently disable. Please contact EBC Tech Support for assistance.</mat-card-title>
          <img mat-card-image src="/assets/img/ebc_disabled.png">
          <mat-card-title>I am sorry, but this Card is currently disable. Please contact EBC Tech Support for assistance.</mat-card-title>
        </div>
        <p>{{ ebcCard?.desc }}</p>
      </mat-card>
    </div>
  </div>
</div>
