@import '../../theme/app.mixin';
.back {
  
	.content {
    padding: 1rem;
   
	  @include crumb;
		.text {
			padding: .5rem 0;
		}

		.scroll {
			overflow: auto;

			.card {
				height: 50vh;

				.disable {
					color: mat-color($warn); 
				}
			}
		}
  }
}
