@import './theme/app.material';

.navbar {
	width: 100vw;
	transform: translate(-.5rem, -.5rem);
	@include md-elevation(3);
}

.foot {
	position: fixed;
	bottom: 0;
	transform: translateX(-.5rem);
	font-size: .8rem;
	background-color: map-get($md-grey,50);
	color: map-get($md-grey, 500);
}

.space-align {
	flex: 1 1 auto;
}

.warning {
	color: map-get($md-red, 500);
}