@import '../theme/app.theme';

.foot {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: .8rem;
	background-color: transparent;
	color: map-get($mat-grey, 500);
}

.space-align {
	flex: 1 1 auto;
}