<md-card class="main">
	<md-card-title class="top" [class.select]="isChecked">
		<span *ngIf="!isChecked" class="title">{{table}}</span>
		<span *ngIf="isChecked">{{isSelected.length}} items selected</span>
		<span>
			<button *ngIf="!isChecked" md-icon-button (click)="addItem()">
				<md-icon>add</md-icon>
			</button>
			<button *ngIf="isChecked" md-icon-button (click)="delete()">
				<md-icon>delete</md-icon>
			</button>
		</span>
	</md-card-title>
	<div class="list">
		<table class="data">
			<thead class="head">
				<tr>
					<th class="check">
						<md-checkbox [checked]="allChecked" [indeterminate]="isChecked"></md-checkbox>
					</th>
					<th>
						<md-icon>edit</md-icon>
					</th>
					<th>Id</th>
					<th>Name</th>
					<th>Description</th>
					<th>SVG</th>
					<th>Image</th>
					<th>Extra Data</th>
					<th>Flyer</th>
					<th>Ready</th>
					<th>Disable</th>
					<th>User</th>
					<th>Clients</th>
				</tr>
			</thead>
			<tbody class="list">
				<tr *ngFor="let item of items" class="data">
					<td class="check">
						<md-checkbox [checked]="allChecked" (change)="selected(item?.id)"></md-checkbox>
					</td>
					<td>
						<button md-icon-button md-ripple (click)="editItem(item)">
							<md-icon>edit</md-icon>
						</button>
					</td>
					<td>{{item?.id}}</td>
					<td>{{item?.name}}</td>
					<td>{{item?.desc}}</td>
					<td>{{item?.media}}</td>
					<td>{{item?.pic}}</td>
					<td>{{item?.data}}</td>
					<td>{{item?.flyer}}</td>
					<td>{{item?.ready}}</td>
					<td>{{item?.disable}}</td>
					<td>{{item?.user}}</td>
					<td>{{item?.clients}}</td>
				</tr>
			</tbody>
			<tfoot class="foot">
				<tr>
					<td colspan="12">&nbsp;</td>
				</tr>
			</tfoot>
		</table>
	</div>
</md-card>