@import '../../theme/app.material';

@mixin bottom-border {
	border-bottom-style: solid;
	border-bottom-color: map-get($md-grey, 400);
	border-bottom-width: .1rem;
}

@mixin row-padding {
	padding-left: 1rem;
	padding-right: 1rem;
}

.main {
	max-height: 65vh;
	margin-top: 1rem;
	padding-left: 0;
	padding-right: 0;
	overflow: auto;

	.top {
		display: flex;
		justify-content: space-between;
		text-transform: capitalize;
		@include row-padding;
	}

	.head {
		width: 100%;
		border-spacing: 0;
		
		tr:hover {
			background-color: transparentize(map-get($md-grey, 200), .6);
		}
	
		th {
			@include bottom-border;
			@include row-padding;
			color: map-get($md-grey, 400);
		}

		.check {
				padding-bottom: 1rem;
				padding-right: 3px;
				text-align: center;
			}

		td {
			@include bottom-border;
			@include row-padding;
			max-width: 5vw;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}
