@import '../theme/app.mixin';

.back {

	.menu {
		height: 100vh;
		min-width: 25vw;

		.header {
		
			.space-align {
				flex: 1 1 auto;
			}

			img {
				height: 70%;
				border-radius: 50%;
			}
		}

		.btns {
			display: flex;
			flex-direction: column;

			md-icon {
				transform: translateY(.4rem);
			}
		}
	}

	.office {
		margin-top: 4.5rem;
		padding: .5rem;

		@include crumb;
	}
}