<md-sidenav-layout class="back">
  <md-sidenav #menu class="menu">
    <md-toolbar color="accent" class="header">
      <span>
        {{backUser?.firstName}}
      </span>
      <span class="space-align"></span>
      <img [src]="backUser?.pic" />
    </md-toolbar>
    <div class="btns">
      <a md-ripple [routerLink]="['/']" md-button><md-icon>home</md-icon></a>
      <a md-ripple [routerLink]="['/back-office']" md-button (click)="menu.close()">DashBoard</a>
      <a md-ripple [routerLink]="['/back-office/items', {list: 'items'}]" md-button (click)="menu.close()">Items</a>
    </div>
  </md-sidenav>
  <div class="office">
    <div class="crumb">
      <button md-icon-button (click)="menu.open()">
        <md-icon>menu</md-icon>
      </button>
      <span class="trail">| &ensp;Back Office</span>
    </div>
    <!-- Routed views go here -->
    <router-outlet></router-outlet>
  </div>
</md-sidenav-layout>