<mat-sidenav-container class="back">
  <app-navbar class="bar">Back Office</app-navbar>
  <mat-sidenav #menu class="menu">
    <mat-toolbar color="accent" class="header">
      <span>
        {{backUser?.displayName}}
      </span>
      <span class="space-align"></span>
      <img [src]="backUser?.photoUrl" />
    </mat-toolbar>
    <div class="btns">
      <a mat-ripple [routerLink]="['/']" mat-button>
        <mat-icon>home</mat-icon>
      </a>
      <a mat-ripple [routerLink]="['/back-office']" mat-button (click)="menu.close()">DashBoard</a>
      <a mat-ripple [routerLink]="['/back-office/items']" mat-button (click)="menu.close()">Items</a>
      <a mat-ripple [routerLink]="['/back-office/samples']" mat-button (click)="menu.close()">Samples</a>
      <a mat-ripple [routerLink]="['/back-office/templates']" mat-button (click)="menu.close()">Templates</a>
      <!-- <a mat-ripple [routerLink]="['/back-office/users']" mat-button (click)="menu.close()">Users</a>
      <a mat-ripple [routerLink]="['/back-office/file']" mat-button (click)="menu.close()">File Manager</a> -->
    </div>
  </mat-sidenav>
  <div class="office">
    <div class="crumb">
      <button mat-icon-button (click)="menu.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="trail">| &ensp;Back Office</span>
    </div>
    <!-- Routed views go here -->
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
