<ebc-navbar>Reset Password</ebc-navbar>
<div class="content">
  <ebc-crumb ebcTitle="Reset Password">
    <button mat-icon-button mat-ripple (click)="toHome()">
      <mat-icon>home</mat-icon>
    </button>
  </ebc-crumb>
  <mat-card class="reset">
    <mat-card-title class="title">Reset Password</mat-card-title>
    <form [formGroup]="resetForm" (ngSubmit)="submitReset(resetForm)">
      <mat-card-content class="fields">
        <mat-form-field>
          <input matInput class="field" type="password" placeholder="New Password" formControlName="newPassword">
        </mat-form-field>
        <mat-form-field>
          <input matInput class="field" type="password" placeholder="Confirm Password" formControlName="passwordConfirm">
        </mat-form-field>
      </mat-card-content>
      <button mat-raised-button mat-ripple color="primary" type="submit" [disabled]="resetForm.invalid || !resetForm.dirty">Change Password</button>
    </form>
  </mat-card>
</div>
