<md-card class="main">
	<md-card-title class="top" [class.select]="isChecked">
		<span *ngIf="!isChecked" class="title">{{table}}</span>
		<span *ngIf="isChecked">{{isSelected.length}} svgs selected</span>
		<span>
			<button *ngIf="!isChecked" md-icon-button (click)="addItem()">
				<md-icon>add</md-icon>
			</button>
			<button *ngIf="isChecked" md-icon-button (click)="delete()">
				<md-icon>delete</md-icon>
			</button>
		</span>
	</md-card-title>
	<div class="list">
		<table class="data">
			<thead class="head">
				<tr>
					<th class="check">
						<md-checkbox [checked]="allChecked" [indeterminate]="isChecked"></md-checkbox>
					</th>
					<th>
						<md-icon>edit</md-icon>
					</th>
					<th>Id</th>
					<th>Path</th>
					<th>Item Id</th>
					<th>Disable</th>
				</tr>
			</thead>
			<tbody class="list">
				<tr *ngFor="let svg of svgs" class="data">
					<td class="check">
						<md-checkbox [checked]="allChecked" (change)="selected(svg?.id)"></md-checkbox>
					</td>
					<td>
						<button md-icon-button md-ripple (click)="editItem(svg)">
							<md-icon>edit</md-icon>
						</button>
					</td>
					<td>{{svg?.id}}</td>
					<td>{{svg?.path}}</td>
					<td>{{svg?.itemID}}</td>
					<td>{{svg?.disable}}</td>
				</tr>
			</tbody>
			<tfoot class="foot">
				<tr>
					<td colspan="6">&nbsp;</td>
				</tr>
			</tfoot>
		</table>
	</div>
</md-card>