<div class="back">
  <ebc-navbar>Home</ebc-navbar>
  <div class="header">
    <div class="logo"><img alt="EBC Logo" src="../../assets/img/logo.png" /></div>
    <h1>Digital Business Cards and Flyers</h1>
  </div>
  <section class="appLinks">
    <p class="find">Find our App for Mobile Device near You</p>
    <mat-grid-list cols="5" rowHeight="5rem" class="badges">
      <mat-grid-tile>&nbsp;</mat-grid-tile>
      <mat-grid-tile>
        <a mat-button class="google" href="https://play.google.com/store/apps/details?id=io.ionic.ebc" target="_blank"><img alt="Google Play Badge" src="../../../../assets/img/google_badge.png" width="3000" /></a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a mat-button class="apple" href="https://itunes.apple.com/us/app/ebc-electronic-business-card/id1236487671"  target="_blank"><img alt="App Store Badge" src="../../../../assets/img/app_store_badge.svg" width="3000" /></a>
      </mat-grid-tile>
      <mat-grid-tile>
        <div><img alt="Windows 10 Badge" src="../../../../assets/img/windows_badge.svg" width="3000" />
          <div>Coming Soon</div>
        </div>
        <!--  <a mat-button class="win" target="_blank"><img alt="Windows 10 Badge" src="../../../../assets/img/windows_badge.svg" width="3000" /></a> -->
      </mat-grid-tile>
      <mat-grid-tile>&nbsp;</mat-grid-tile>
    </mat-grid-list>
    <div class="legal">
      <p>Google Play and the Google Play logo are trademarks of Google Inc. Apple and the Apple logo are trademarks of Apple
        Inc., registered in the U.S. and other countries. App Store is a service mark of Apple Inc. Microsoft is the sole
        owner of the Microsoft Marks and associated goodwill, and the sole beneficiary of the goodwill associated with your
        use of the Microsoft Marks.</p>
    </div>
  </section>
</div>
