@import '../../../../theme/app.mixin';

.loading {
	align-content: center;
	background: transparentize(mat-color($mat-gray, 900), .75);
	bottom: 0;
	display: inline-grid;
	justify-content: center;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 101;
}