@import	'../../theme/app.mixin';

.content {
	@include crumb;
	padding: 1rem; 

	.reset {
			
			.title {
				color: mat-color($accent)
			}

			.fields {
				display: flex;
				flex-direction: column;
			}
		}
}