<app-navbar>Reset Password</app-navbar>
<div class="content">
  <div class="crumb">
    <button md-icon-button md-ripple (click)="toHome()">
      <md-icon>home</md-icon>
    </button>
    <span class="trail">| &ensp;Reset Password</span>
  </div>
  <md-card class="reset">
    <md-card-title class="title">Reset Password</md-card-title>
    <form>
      <md-card-content class="fields">
        <md-input-container>
          <input matInput class="field" type="password" placeholder="New Password">
        </md-input-container>
        <md-input-container>
          <input matInput class="field" type="password" placeholder="Confirm Password">
        </md-input-container>
      </md-card-content>
      <button md-raised-button md-ripple color="primary" type="submit">Change Password</button>
      </form>
  </md-card>
</div>
