<app-navbar>Reset Password</app-navbar>
<div class="content">
  <div class="crumb">
    <button mat-icon-button mat-ripple (click)="toHome()">
      <mat-icon>home</mat-icon>
    </button>
    <span class="trail">| &ensp;Reset Password</span>
  </div>
  <mat-card class="reset">
    <mat-card-title class="title">Reset Password</mat-card-title>
    <form [formGroup]="resetForm" (ngSubmit)="submitReset(resetForm)">
      <mat-card-content class="fields">
        <mat-input-container [dividerColor]="resetForm.valid ? 'primary' : 'warn'">
          <input matInput class="field" type="password" placeholder="New Password" formControlName="newPassword">
        </mat-input-container>
        <mat-input-container [dividerColor]="resetForm.valid ? 'primary' : 'warn'">
          <input matInput class="field" type="password" placeholder="Confirm Password" formControlName="passwordConfirm">
        </mat-input-container>
      </mat-card-content>
      <button mat-raised-button mat-ripple color="primary" type="submit" [disabled]="resetForm.invalid || !resetForm.dirty">Change Password</button>
    </form>
  </mat-card>
</div>
