@import '../../../../theme/app.mixin';

.back {
	min-height: 100vh;
	
  .menu {
		min-width: 25vw;
		
    .header {

      .space-align {
        flex: 1 1 auto;
			}
			
      .user-img {
        border-radius: 50%;
        height: 40px;
        position: relative;
        overflow: hidden;
				width: 40px;
				
        img {
          position: absolute;
          width: 100%;
        }
      }
		}
		
    .btns {
      display: flex;
      flex-direction: column;
      mat-icon {
        transform: translateY(.4rem);
      }
    }
	}
	
  .office {
    padding: 1rem;
    @include crumb;
  }
}
