<div class="home">
  <md-card class="body">
    <h2>Welcome to EBC: Electionic Business Card</h2>
    <div class="logo"><img alt="EBC Logo" src="img/logo.png" /></div>
    <p>Find our App for Mobile Device near You</p>
    <md-toolbar class="badges">
      <a md-button class="google"><img alt="Google Play Badge" src="img/google_badge.png" /></a>
      <a md-button class="apple"><img alt="App Store Badge" src="img/app_store_badge.svg" /></a>
      <a md-button class="win"><img alt="Windows 10 Badge" src="img/winodws_badge.svg" /></a>
      <!--<figure class="google">
        <img alt="Google Play Badge" src="img/google_badge.png" />
        <figcaption>Google Play and the Google Play logo are trademarks of Google Inc.</figcaption>
      </figure>
      <figure class="apple">
        <img alt="App Store Badge" src="img/app_store_badge.svg" />
        <figcaption>Google Play and the Google Play logo are trademarks of Google Inc.</figcaption>
      </figure>
      <figure class="win">
        <img alt="Windows 10 Badge" src="img/winodws_badge.svg" />
        <figcaption>Google Play and the Google Play logo are trademarks of Google Inc.</figcaption>
      </figure>-->
    </md-toolbar>
  </md-card>