@import '../theme/app.material';

@mixin img {
	display: inline-block;
	width: 100%;
	height: auto;
	vertical-align: middle;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	transform: translate(-.55rem, -.5rem);
	background-color: md-color($md-primary, darker, .9);
	z-index: 0;
	
	h1 {
		color: map-get($md-grey, 0);
		text-align: center;
	}
	
	.logo {
		display: inline-block;
		max-width: 25vmin;
		padding-top: 1.5rem;
	
		img {
			@include img;
		}
	}
}

.appLinks {
	text-align: center;

	.badges {
		margin-top: 1.5rem;
		padding-bottom: 1rem;
	
		img {
			@include img;
			max-width: 20vmin;
		}
	}

	.find {
		font-weight: 600;
		color: md-color($md-accent, darker, 1);
	}

	.legal {
		display: inline-flex;
		justify-content: center;
		background-color: map-get($md-blue-grey, 50);
		padding: .7rem;
		box-sizing: border-box;
		margin-top: 2rem;
		width: 50vw;
		font-size: .7rem;
		text-align: left;
	}
}