@import '../theme/app.material';

@mixin img {
	display: inline-block;
	width: 100%;
	height: auto;
	vertical-align: middle;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	transform: translate(-.55rem, -.5rem);
	background-color: md-color($md-primary, darker, .9);
	z-index: 0;
	
	h1 {
		color: rgba(255, 255, 255, 1);
		text-align: center;
	}
	
	.logo {
		display: inline-block;
		max-width: 25vmin;
		padding-top: 1.5rem;
	
		img {
			@include img;
		}
	}
}

.appLinks {
	background-color: rgba(255, 255, 255, 1);
	text-align: center;

	.badges {
		background-color: transparent;
		margin-top: 1.5rem;
		padding-bottom: 1rem;
	
		img {
			@include img;
			max-width: 20vmin;
		}
	}

	.find {
		font-weight: 600;
		color: md-color($md-accent, darker, 1);
	}

	.legal {
		display: inline-flex;
		flex: 0 0 auto;
		justify-content: space-around;
		margin-top: 1.5rem;
		width: 75vw;
		

		P {
			font-size: .7rem;
			text-align: left;
			width: 33%;
		}
	}
}